In [1]:
# -*- coding: utf-8
# Abraji (https://www.abraji.org.br)
# Reinaldo Chaves (reinaldo@abraji.org.br)
# Programa 03 do curso Como usar Python para descobrir uma rede de interesses
#

In [2]:
import pandas as pd
import numpy as np

# Verifica se as indústrias farmacêuticas foram doadoras de campanha em 2010, 2014 e 2018

# Aponta quais beneficiários foram eleitos em 2018

Formato de valores com decimais no float

In [3]:
pd.options.display.float_format = '{:,.2f}'.format

Acessa empresas farmacêuticas

In [4]:
farma = pd.read_csv('resultados/empresas_farm_cnae_principal.csv',\
                           sep=',',\
                           encoding = 'utf_8',\
                           converters={'cnpj': lambda x: str(x),
                                       'cnae_fiscal': lambda x: str(x)},\
                           decimal=',')

In [5]:
# Cria coluna com CNPJ raiz

In [6]:
farma['cnpj_raiz'] = farma.cnpj.str[:8]

In [7]:
farma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118639 entries, 0 to 118638
Data columns (total 16 columns):
cnpj                           118639 non-null object
identificador_matrizfilial     118639 non-null int64
razao_social                   118639 non-null object
nome_fantasia                  89674 non-null object
situacao_cadastral             118639 non-null int64
data_situacao_cadastral        118639 non-null object
motivo_situacao_cadastral      118639 non-null int64
nome_cidade_exterior           42 non-null object
codigo_natureza_juridica       118639 non-null int64
data_inicio_atividade          118639 non-null object
cnae_fiscal                    118639 non-null object
uf                             118639 non-null object
municipio                      118639 non-null object
qualificacao_do_responsavel    118639 non-null int64
capital_social                 118639 non-null int64
cnpj_raiz                      118639 non-null object
dtypes: int64(6), object(10)
memory usage: 14.5+ MB

Acessa resultado de eleicoes 2018

In [8]:
candidatos = pd.read_csv('resultados/candidatos_2018.csv',\
                         sep=',',\
                         encoding = 'utf-8',\
                         converters={'SQ_CANDIDATO': lambda x: str(x),
                                     'NR_CPF_CANDIDATO': lambda x: str(x),
                                     'NR_TITULO_ELEITORAL_CANDIDATO': lambda x: str(x),
                                    })

In [9]:
candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29145 entries, 0 to 29144
Data columns (total 14 columns):
SG_UF                            29145 non-null object
DS_CARGO                         29145 non-null object
SQ_CANDIDATO                     29145 non-null object
NR_CANDIDATO                     29145 non-null int64
NM_CANDIDATO                     29145 non-null object
NM_URNA_CANDIDATO                29145 non-null object
NM_SOCIAL_CANDIDATO              29145 non-null object
NR_CPF_CANDIDATO                 29145 non-null object
DS_SITUACAO_CANDIDATURA          29145 non-null object
SG_PARTIDO                       29145 non-null object
DT_NASCIMENTO                    29145 non-null object
NR_TITULO_ELEITORAL_CANDIDATO    29145 non-null object
DS_GENERO                        29145 non-null object
DS_SIT_TOT_TURNO                 29145 non-null object
dtypes: int64(1), object(13)
memory usage: 3.1+ MB

In [10]:
candidatos.groupby("DS_SIT_TOT_TURNO").NR_CPF_CANDIDATO.count().reset_index()

   DS_SIT_TOT_TURNO  NR_CPF_CANDIDATO
0            #NULO#              1702
1          2º TURNO                60
2            ELEITO               218
3  ELEITO POR MÉDIA               298
4     ELEITO POR QP              1274
5        NÃO ELEITO              6930
6          SUPLENTE             18663

In [11]:
# Filtra apenas os eleitos

In [12]:
identificador = candidatos['DS_SIT_TOT_TURNO'].isin(['ELEITO', 
                                                     'ELEITO POR MÉDIA',
                                                     'ELEITO POR QP']) 

eleitos = candidatos[identificador]

In [13]:
eleitos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1790 entries, 22 to 29124
Data columns (total 14 columns):
SG_UF                            1790 non-null object
DS_CARGO                         1790 non-null object
SQ_CANDIDATO                     1790 non-null object
NR_CANDIDATO                     1790 non-null int64
NM_CANDIDATO                     1790 non-null object
NM_URNA_CANDIDATO                1790 non-null object
NM_SOCIAL_CANDIDATO              1790 non-null object
NR_CPF_CANDIDATO                 1790 non-null object
DS_SITUACAO_CANDIDATURA          1790 non-null object
SG_PARTIDO                       1790 non-null object
DT_NASCIMENTO                    1790 non-null object
NR_TITULO_ELEITORAL_CANDIDATO    1790 non-null object
DS_GENERO                        1790 non-null object
DS_SIT_TOT_TURNO                 1790 non-null object
dtypes: int64(1), object(13)
memory usage: 209.8+ KB

Carrega doacoes

2010

In [14]:
doacoes_2010 = pd.read_csv('resultados/doacoes_2010.csv',\
                           sep=',',\
                           encoding = 'utf_8',\
                           converters={'cpf_candidato': lambda x: str(x),
                                       'sequencial': lambda x: str(x),
                                       'cpf_cnpj_doador': lambda x: str(x)},
                           decimal=',')

In [15]:
# Cria campo CNPJ raiz e que mostra quando é doação vinda PF

In [16]:
def limpeza(linha):
    documento = str(linha["cpf_cnpj_doador"])
    if len(documento) > 11:
        return documento[:8]
    else:
        return "documento_cpf"

doacoes_2010['cnpj_raiz'] = doacoes_2010.apply(limpeza, axis=1)

In [17]:
doacoes_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427017 entries, 0 to 427016
Data columns (total 20 columns):
data_hora            427017 non-null object
sequencial           427017 non-null object
uf                   427017 non-null object
partido_eleicao      427017 non-null object
numero_candidato     427017 non-null int64
cargo                427017 non-null object
nome_candidato       427017 non-null object
cpf_candidato        427017 non-null object
entrega_conjunto     427017 non-null object
recibo_eleitoral     426186 non-null float64
numero_documento     167807 non-null object
cpf_cnpj_doador      427017 non-null object
nome_doador          426636 non-null object
data_receita         427017 non-null object
valor_receita        427017 non-null float64
tipo_receita         427017 non-null object
fonte_recurso        427017 non-null object
especie_recurso      427017 non-null object
descricao_receita    427017 non-null object
cnpj_raiz            427017 non-null object
dtypes: float64(2), int64(1), object(17)
memory usage: 65.2+ MB

2014

In [18]:
doacoes_2014 = pd.read_csv('resultados/doacoes_2014.csv',\
                           sep=',',\
                           encoding = 'utf_8',\
                           converters={'sequencial': lambda x: str(x),
                                       'cpf_candidato': lambda x: str(x),
                                       'cpf_cnpj_doador': lambda x: str(x),
                                       'cpf_cnpj_doador_originario': lambda x: str(x)},\
                           decimal=',')

In [19]:
# Cria campo CNPJ raiz e que mostra quando é doação vinda PF
# Também nos doadores originários

In [20]:
def limpeza1(linha):
    documento = str(linha["cpf_cnpj_doador"])
    if len(documento) > 11:
        return documento[:8]
    else:
        return "documento_cpf"

def limpeza2(linha):
    documento = str(linha["cpf_cnpj_doador_originario"])
    if len(documento) > 11:
        return documento[:8]
    else:
        return "documento_cpf"

doacoes_2014['cnpj_raiz'] = doacoes_2014.apply(limpeza1, axis=1)
doacoes_2014['cnpj_raiz_originario'] = doacoes_2014.apply(limpeza2, axis=1)

In [21]:
doacoes_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427489 entries, 0 to 427488
Data columns (total 34 columns):
cod_eleicao                          427489 non-null int64
desc_eleicao                         427489 non-null object
data_hora                            427489 non-null object
cnpj_prestador_conta                 427489 non-null int64
sequencial                           427489 non-null object
uf                                   427489 non-null object
partido_eleicao                      427489 non-null object
numero_candidato                     427489 non-null int64
cargo                                427489 non-null object
nome_candidato                       427489 non-null object
cpf_candidato                        427489 non-null object
recibo_eleitoral                     427489 non-null object
numero_documento                     427472 non-null object
cpf_cnpj_doador                      427489 non-null object
nome_doador                          427489 non-null object
nome_doador_receita                  427489 non-null object
ue_doador                            427489 non-null object
numero_partido_doador                427489 non-null object
numero_candidato_doador              427489 non-null int64
cod_setor_economico_doador           427489 non-null object
setor_economico_doador               427489 non-null object
data_receita                         427489 non-null object
valor_receita                        427489 non-null float64
tipo_receita                         427489 non-null object
fonte_recurso                        427489 non-null object
especie_recurso                      427489 non-null object
descricao_receita                    427489 non-null object
cpf_cnpj_doador_originario           427489 non-null object
nome_doador_originario               427489 non-null object
tipo_doador_originario               427489 non-null object
setor_economico_doador_originario    427489 non-null object
nome_doador_originario_receita       427489 non-null object
cnpj_raiz                            427489 non-null object
cnpj_raiz_originario                 427489 non-null object
dtypes: float64(1), int64(4), object(29)
memory usage: 110.9+ MB

2018

In [22]:
doacoes_2018 = pd.read_csv('resultados/doacoes_2018.csv',\
                           sep=',',\
                           encoding = 'utf_8',\
                           converters={'SQ_CANDIDATO': lambda x: str(x),
                                       'NR_CPF_CANDIDATO': lambda x: str(x), 
                                       'NR_CPF_CNPJ_DOADOR': lambda x: str(x)},\
                           decimal=',')

In [23]:
# Cria campo CNPJ raiz e que mostra quando é doação vinda PF

In [24]:
def limpeza(linha):
    documento = str(linha["NR_CPF_CNPJ_DOADOR"])
    if len(documento) > 11:
        return documento[:8]
    else:
        return "documento_cpf"

doacoes_2018['cnpj_raiz'] = doacoes_2018.apply(limpeza, axis=1)

In [25]:
doacoes_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321140 entries, 0 to 321139
Data columns (total 21 columns):
SG_UF                          321140 non-null object
DS_CARGO                       321140 non-null object
SQ_CANDIDATO                   321140 non-null object
NR_CANDIDATO                   321140 non-null int64
NM_CANDIDATO                   321140 non-null object
NR_CPF_CANDIDATO               321140 non-null object
NR_CPF_VICE_CANDIDATO          321140 non-null int64
SG_PARTIDO                     321140 non-null object
CD_CNAE_DOADOR                 321140 non-null int64
DS_CNAE_DOADOR                 321140 non-null object
NR_CPF_CNPJ_DOADOR             321140 non-null object
NM_DOADOR                      321140 non-null object
NM_DOADOR_RFB                  321140 non-null object
DS_ESFERA_PARTIDARIA_DOADOR    321140 non-null object
SQ_CANDIDATO_DOADOR            321140 non-null int64
CD_CARGO_CANDIDATO_DOADOR      321140 non-null int64
DS_CARGO_CANDIDATO_DOADOR      321140 non-null object
DT_RECEITA                     321140 non-null object
DS_RECEITA                     321140 non-null object
VR_RECEITA                     321140 non-null float64
cnpj_raiz                      321140 non-null object
dtypes: float64(1), int64(5), object(15)
memory usage: 51.5+ MB

# Cruzamento 1 - de CNPJs - empresas e doacoes diretas

In [26]:
# Em doacoes eleitorais o mesmo doador pode doar várias, por isso o CPF ou CNPJ pode se repetir

# No caso uso o drop_duplicates no CNPJ raiz das empresas porque são os primeiros 8 dígitos que caracterizam um mesmo grupo

# Por precaução uso o drop_duplicates nos eleitos, caso o TSE tenha duplicado candidatos - isso já aconteceu

2010

In [27]:
farma_doadores_diretos_2010 = pd.merge(doacoes_2010, farma.drop_duplicates('cnpj_raiz'), left_on='cnpj_raiz', right_on='cnpj_raiz')

In [28]:
print('O dataframe contém ' + str(farma_doadores_diretos_2010.shape[0]) + ' linhas')

O dataframe contém 704 linhas

In [29]:
# Uso o how left para manter as linhas quando os políticos não tiverem sido eleitos em 2018 

# As colunas ficam em branco que vem do dataframe eleitos neste caso

In [30]:
farma_doadores_diretos_2010 = pd.merge(farma_doadores_diretos_2010, \
                                       eleitos.drop_duplicates('NR_CPF_CANDIDATO'), \
                                       left_on='cpf_candidato', \
                                       right_on='NR_CPF_CANDIDATO',\
                                       how='left')

In [31]:
farma_doadores_diretos_2010.to_excel('resultados/compara/doacoes_diretas_empreas_2010.xlsx',sheet_name='Sheet1')

Maiores doadores

In [32]:
farma_doadores_diretos_2010.groupby("nome_doador").valor_receita.sum().reset_index().sort_values("valor_receita", ascending=False).head(10)

                                        nome_doador  valor_receita
212                                 HYPERMARCAS S/A   2,500,000.00
21                   BIOLAB SANUS FARMACEUTICA LTDA   1,609,000.00
51             COMPANHIA BRASILEIRA DE DISTRIBUIÇÃO     845,000.00
42                   CIA BRASILEIRA DE DISTRIBUIÇÃO     750,000.00
324                 STOCK COMERCIAL HOSPITALAR LTDA     728,730.00
243                         LIBBS FARMACEUTICA LTDA     521,000.00
145     EXPRESSA DISTRIBUIDORA DE MEDICAMENTOS LTDA     500,000.00
57   CRISTALIA PRODUTOS QUIMICOS FARMACEUTICOS LTDA     425,000.00
347         UNIÃO QUIMICA FARMACEUTICA NACIONAL S/A     360,000.00
141                     EUROFARMA LABORATORIOS LTDA     355,000.00

Candidatos que mais receberam

In [33]:
farma_doadores_diretos_2010.groupby("nome_candidato").valor_receita.sum().reset_index().sort_values("valor_receita", ascending=False).head(10)

                         nome_candidato  valor_receita
148                IRIS REZENDE MACHADO   1,000,000.00
122  FLÁVIA CARREIRO ALBUQUERQUE MORAIS     940,730.00
52             ARLINDO CHIGNALIA JUNIOR     825,000.00
187         JOSÉ ALDO REBELO FIGUEIREDO     790,000.00
9           AGNELO SANTOS QUEIROZ FILHO     695,000.00
156                       JAQUES WAGNER     595,000.00
361            VANDERLAN VIEIRA CARDOSO     500,000.00
94      DEMOSTENES LAZARO XAVIER TORRES     500,000.00
315          RAUL BELENS JUNGMANN PINTO     450,000.00
239        MANOEL ALVES DA SILVA JUNIOR     450,000.00

Tabela dinâmica doadores e candidatos

In [34]:
tabela = pd.pivot_table(farma_doadores_diretos_2010,index=["nome_doador","nome_candidato"], values=["valor_receita"], aggfunc=np.sum)
result = tabela.sort_values('valor_receita', ascending=False).head(10)
result

                                                                                   valor_receita
nome_doador                                    nome_candidato
HYPERMARCAS S/A                                IRIS REZENDE MACHADO                 1,000,000.00
STOCK COMERCIAL HOSPITALAR LTDA                FLÁVIA CARREIRO ALBUQUERQUE MORAIS     728,730.00
HYPERMARCAS S/A                                VANDERLAN VIEIRA CARDOSO               500,000.00
                                               DEMOSTENES LAZARO XAVIER TORRES        500,000.00
BIOLAB SANUS FARMACEUTICA LTDA                 ARLINDO CHIGNALIA JUNIOR               500,000.00
EXPRESSA DISTRIBUIDORA DE MEDICAMENTOS LTDA    JAQUES WAGNER                          500,000.00
RECOL DISTRIBUIDORA DE VEICULOS LTDA           CONFUCIO AIRES DE MOURA                305,000.00
UNIÃO QUIMICA FARMACEUTICA NACIONAL S/A        GERALDO THADEU PEDREIRA DOS SANTOS     300,000.00
HYPERMARCAS S/A                                AGNELO SANTOS QUEIROZ FILHO            300,000.00
CRISTALIA PRODUTOS QUIMICOS FARMACEUTICOS LTDA JOSE ANTONIO BARROS MUNHOZ             300,000.00

2014

In [35]:
farma_doadores_diretos_2014 = pd.merge(doacoes_2014, farma.drop_duplicates('cnpj_raiz'), left_on='cnpj_raiz', right_on='cnpj_raiz')

In [36]:
print('O dataframe contém ' + str(farma_doadores_diretos_2014.shape[0]) + ' linhas')

O dataframe contém 451 linhas

In [37]:
farma_doadores_diretos_2014 = pd.merge(farma_doadores_diretos_2014, \
                                       eleitos.drop_duplicates('NR_CPF_CANDIDATO'), \
                                       left_on='cpf_candidato', \
                                       right_on='NR_CPF_CANDIDATO',\
                                       how='left')

In [38]:
farma_doadores_diretos_2014.to_excel('resultados/compara/doacoes_diretas_empresas_2014.xlsx',sheet_name='Sheet1')

Maiores doadores

In [39]:
farma_doadores_diretos_2014.groupby("nome_doador").valor_receita.sum().reset_index().sort_values("valor_receita", ascending=False).head(10)

                                           nome_doador  valor_receita
174                                    HYPERMARCAS S/A   6,090,000.00
74      CRISTALIA PRODUTOS QUIMICOS FARMACEUTICOS LTDA   2,075,000.00
165                   GEOLAB INDUTRIA FARMACEUTICA S/A   1,260,000.00
38                     CENCOSUD BRASIL COMERCIAL LTDA.   1,000,000.00
173                                     HIPERMARCAS SA     800,000.00
116                    EMPREENDIMENTOS PAGUE MENOS S/A     768,855.97
193                   LABORATORIO TEUTO BRASILEIRO S/A     750,000.00
266  UTIL FARMA DISTRIBUIDORA DE MEDICAMENTOS E HOS...     720,000.00
44              CIFARMA CIENTIFICA E FARMACEUTICA LTDA     700,000.00
232                        PRATI· DONADUZZI & CIA LTDA     640,000.00

Candidatos que mais receberam

In [40]:
farma_doadores_diretos_2014.groupby("nome_candidato").valor_receita.sum().reset_index().sort_values("valor_receita", ascending=False).head(10)

                                 nome_candidato  valor_receita
66                          DILMA VANA ROUSSEFF   8,280,000.00
187       MARCOS ABRAO RORIZ SOARES DE CARVALHO   1,272,000.00
121                        IRIS REZENDE MACHADO     800,000.00
186             MARCONI FERREIRA PERILLO JUNIOR     750,000.00
146                 JOSÉ ANTÔNIO DA SILVA NETTO     700,000.00
168               LEONARDO LEMOS BARROS QUINTÃO     604,630.81
8            ALEXANDRE BALDY DE SANT'ANNA BRAGA     585,738.00
194  MARIA OSMARINA MARINA DA SILVA VAZ DE LIMA     500,000.00
40                         AÉCIO NEVES DA CUNHA     500,000.00
34                     ARLINDO CHIGNALIA JUNIOR     500,000.00

Tabela dinâmica doadores e candidatos

In [41]:
tabela = pd.pivot_table(farma_doadores_diretos_2014,index=["nome_doador","nome_candidato"], values=["valor_receita"], aggfunc=np.sum)
result = tabela.sort_values('valor_receita', ascending=False).head(10)
result

                                                                                           valor_receita
nome_doador                                    nome_candidato
HYPERMARCAS S/A                                DILMA VANA ROUSSEFF                          5,000,000.00
CRISTALIA PRODUTOS QUIMICOS FARMACEUTICOS LTDA DILMA VANA ROUSSEFF                          2,000,000.00
GEOLAB INDUTRIA FARMACEUTICA S/A               MARCOS ABRAO RORIZ SOARES DE CARVALHO        1,260,000.00
HIPERMARCAS SA                                 IRIS REZENDE MACHADO                           800,000.00
LABORATORIO TEUTO BRASILEIRO S/A               MARCONI FERREIRA PERILLO JUNIOR                750,000.00
CIFARMA CIENTIFICA E FARMACEUTICA LTDA         JOSÉ ANTÔNIO DA SILVA NETTO                    700,000.00
CENCOSUD BRASIL COMERCIAL LTDA                 DILMA VANA ROUSSEFF                            500,000.00
CENCOSUD BRASIL COMERCIAL LTDA.                AÉCIO NEVES DA CUNHA                           500,000.00
                                               MARIA OSMARINA MARINA DA SILVA VAZ DE LIMA     500,000.00
HYPERMARCAS S/A                                ARLINDO CHIGNALIA JUNIOR                       500,000.00

2018

In [42]:
farma_doadores_diretos_2018 = pd.merge(doacoes_2018, farma.drop_duplicates('cnpj_raiz'), left_on='cnpj_raiz', right_on='cnpj_raiz')

In [43]:
print('O dataframe contém ' + str(farma_doadores_diretos_2018.shape[0]) + ' linhas')

O dataframe contém 0 linhas

# Cruzamento 2 - de CNPJs - empresas e doacoes indiretas

2010

Não havia essa informação

2014

In [44]:
farma_doadores_indiretos_2014 = pd.merge(doacoes_2014, farma.drop_duplicates('cnpj_raiz'), left_on='cnpj_raiz_originario', right_on='cnpj_raiz')

In [45]:
print('O dataframe contém ' + str(farma_doadores_indiretos_2014.shape[0]) + ' linhas')

O dataframe contém 858 linhas

In [46]:
farma_doadores_indiretos_2014 = pd.merge(farma_doadores_indiretos_2014, \
                                       eleitos.drop_duplicates('NR_CPF_CANDIDATO'), \
                                       left_on='cpf_candidato', \
                                       right_on='NR_CPF_CANDIDATO',\
                                       how='left')

In [47]:
print('O dataframe contém ' + str(farma_doadores_indiretos_2014.shape[0]) + ' linhas')

O dataframe contém 858 linhas

In [48]:
farma_doadores_indiretos_2014.to_excel('resultados/compara/doacoes_indiretas_empresas_2014.xlsx',sheet_name='Sheet1')

Maiores doadores

In [49]:
farma_doadores_indiretos_2014.groupby("nome_doador_originario_receita").valor_receita.sum().reset_index().sort_values("valor_receita", ascending=False).head(10)

                       nome_doador_originario_receita  valor_receita
27                                    HYPERMARCAS S/A   6,214,214.72
32  LOGIMED DISTRIBUIDORA SOCIEDADE EMPRESARIA LIM...   3,524,585.09
47            UNIAO QUIMICA FARMACEUTICA NACIONAL S A   1,819,672.30
4                      BIOLAB SANUS FARMACEUTICA LTDA   1,603,944.75
9      CRISTALIA PRODUTOS QUIMICOS FARMACEUTICOS LTDA   1,499,500.06
20                        EUROFARMA LABORATORIOS S.A.   1,442,339.24
43                                  RAIA DROGASIL S/A     787,522.50
8                COMPANHIA BRASILEIRA DE DISTRIBUICAO     786,903.30
6                      CENCOSUD BRASIL COMERCIAL LTDA     759,840.00
1                  ACHE LABORATORIOS FARMACEUTICOS SA     758,500.00

Candidatos que mais receberam

In [50]:
farma_doadores_indiretos_2014.groupby("nome_candidato").valor_receita.sum().reset_index().sort_values("valor_receita", ascending=False).head(10)

                                 nome_candidato  valor_receita
33                         AÉCIO NEVES DA CUNHA   5,754,951.33
87                     FERNANDO DAMATA PIMENTEL   2,309,925.00
100          GERALDO THADEU PEDREIRA DOS SANTOS   1,000,000.00
197  MARIA OSMARINA MARINA DA SILVA VAZ DE LIMA     954,834.34
160               LEONARDO LEMOS BARROS QUINTÃO     838,717.61
129      JOSE RENAN VASCONCELOS CALHEIROS FILHO     600,000.00
159         LEONARDO CARNEIRO MONTEIRO PICCIANI     500,000.00
126                  JOSE ANTONIO BARROS MUNHOZ     475,087.37
275                        WILMA MARIA DE FARIA     420,000.00
139                       JOSÉ MELO DE OLIVEIRA     400,000.00

Tabela dinâmica doadores candidatos

In [51]:
tabela = pd.pivot_table(farma_doadores_indiretos_2014,index=["nome_doador_originario_receita","nome_candidato"], values=["valor_receita"], aggfunc=np.sum)
result = tabela.sort_values('valor_receita', ascending=False).head(10)
result

                                                                                               valor_receita
nome_doador_originario_receita                     nome_candidato
HYPERMARCAS S/A                                    AÉCIO NEVES DA CUNHA                         4,999,999.27
LOGIMED DISTRIBUIDORA SOCIEDADE EMPRESARIA LIMI... FERNANDO DAMATA PIMENTEL                     2,309,925.00
UNIAO QUIMICA FARMACEUTICA NACIONAL S A            GERALDO THADEU PEDREIRA DOS SANTOS           1,000,000.00
CRISTALIA PRODUTOS QUIMICOS FARMACEUTICOS LTDA     AÉCIO NEVES DA CUNHA                           500,000.00
HOSP RIO MATERIAL HOSPITALAR LTDA                  LEONARDO CARNEIRO MONTEIRO PICCIANI            500,000.00
CRISTALIA PRODUTOS QUIMICOS FARMACEUTICOS LTDA     JOSE ANTONIO BARROS MUNHOZ                     475,000.00
LOGIMED DISTRIBUIDORA SOCIEDADE EMPRESARIA LIMI... WILMA MARIA DE FARIA                           420,000.00
UNIAO QUIMICA FARMACEUTICA NACIONAL S A            JOSE RENAN VASCONCELOS CALHEIROS FILHO         400,000.00
MAPEMI BRASIL MATERIAIS MEDICOS E ODONTOLOGICOS... JOSÉ MELO DE OLIVEIRA                          400,000.00
LOGIMED DISTRIBUIDORA SOCIEDADE EMPRESARIA LIMI... MARIA OSMARINA MARINA DA SILVA VAZ DE LIMA     398,160.09

2018

Não havia essa informação