In [1]:
# -*- coding: utf-8
# Abraji (https://www.abraji.org.br)
# Reinaldo Chaves (reinaldo@abraji.org.br)
# Programa 05 do curso Técnicas de raspagem de dados e acesso a APIs
#

In [2]:
# Apenas repito os comandos anteriores primeiro

In [4]:
import requests

from bs4 import BeautifulSoup

import pandas as pd

praias_tudo = requests.get('https://qualipraia.cetesb.sp.gov.br/qualidade-da-praia/').text

praias_sopa = BeautifulSoup(praias_tudo,'html.parser')

praias_tabelas = praias_sopa.find_all('table')

In [ ]:
# Acessa a primeira tabela

In [6]:
praias_trs = praias_tabelas[0].find_all('tr')

In [7]:
# E dentro dessa seleção posso acessar apenas os selecionados pelo seu número

In [8]:
praias_trs[1]

<tr>
<td align="left" bgcolor="#F0F0F0" width="300"> PICINGUABA</td>
<td bgcolor="#F0F0F0" width="300"> MEIO DA PRAIA</td>
<td bgcolor="#F0F0F0" width="300">
      <b style="color: green;">Própria</b> </td>
</tr>

In [9]:
praias_trs[2]

<tr>
<td align="left" width="300"> PRAIA DO PRUMIRIM</td>
<td width="300"> MEIO DA PRAIA</td>
<td width="300">
      <b style="color: green;">Própria</b> </td>
</tr>

In [10]:
praias_trs[0]

<tr>
<td align="left"><b>Praia</b></td><td><b>Local</b></td><td><b>Qualidade</b></td>
</tr>

In [11]:
# Se quiséssemos acessar o conteúdo dessa linha da tabela, poderíamos usar o método .contents para obter uma lista de cada 
# uma das <td> células da tabela

In [12]:
praias_trs[5].contents

['\n',
 <td align="left" bgcolor="#F0F0F0" width="300"> RIO ITAMAMBUCA</td>,
 '\n',
 <td bgcolor="#F0F0F0" width="300"> FOZ DO RIO</td>,
 '\n',
 <td bgcolor="#F0F0F0" width="300">
       <b style="color: green;">Própria</b> </td>,
 '\n']

In [13]:
# Outra alternativa é usar o método .text para obter o conteúdo de texto de todas as células nessa linha.

In [14]:
praias_trs[5].text

'\n\xa0RIO ITAMAMBUCA\n\xa0FOZ DO RIO\n\xa0\r\n      Própria \n'

In [15]:
# Os caracteres \n (que pulam linha) aparecem aqui novamente, mas se imprimirmos, veremos a funcionalidade de nova linha.

In [16]:
print(praias_trs[5].text)

 RIO ITAMAMBUCA
 FOZ DO RIO

      Própria

In [17]:
# Poderíamos usar o processamento de strings para capturar essa string de texto e convertê-la em uma lista simples de dados. 
# .split('\ n') dividirá a string nos caracteres de nova linha e retornará uma lista do que existe entre eles.

In [16]:
praias_trs[5].text.split('\n')

['', '\xa0RIO ITAMAMBUCA', '\xa0FOZ DO RIO', '\xa0\r', '      Própria ', '']

In [17]:
#Vamos escrever um loop for para percorrer todas as linhas da tabela em praias_trs, 
#obter a lista de dados da linha e incluí-la em uma lista de todas as linhas(praias_linhas)

In [18]:
praias_linhas = [] # cria uma lista vazia para armazenar os resultados 

# Faz um loop por todas as linhas da tabela sem cabeçalho (primeira linha)
for linha in praias_trs[1:]: # começa na segunda linha e vai até a última
    
    # Obter o texto da linha e dividir nas novas linhas (como acima)
    praias_linhas_vez = linha.text.split('\n')
    
    # Adicione esta linha limpa de volta à lista externa de dados de linha
    praias_linhas.append(praias_linhas_vez)
    
# Inspecione as primeiras 2 linhas de dados
praias_linhas[:2]

[['', '\xa0PICINGUABA', '\xa0MEIO DA PRAIA', '\xa0\r', '      Própria ', ''],
 ['',
  '\xa0PRAIA DO PRUMIRIM',
  '\xa0MEIO DA PRAIA',
  '\xa0\r',
  '      Própria ',
  '']]

In [19]:
#Agora podemos passar esta lista de listas em praias_linhas para a função DataFrame do pandas e esperamos conseguir uma boa tabela

In [21]:
praias_df = pd.DataFrame(praias_linhas)

# Mostra as cinco primeiras linhas
praias_df.head()

  0                   1                    2    3               4 5
0            PICINGUABA        MEIO DA PRAIA   \r        Própria
1     PRAIA DO PRUMIRIM        MEIO DA PRAIA   \r        Própria
2                 FÉLIX        MEIO DA PRAIA   \r        Própria
3            ITAMAMBUCA   EM FRENTE À R.TRÊS   \r        Própria
4        RIO ITAMAMBUCA           FOZ DO RIO   \r        Própria

In [22]:
# Mostra as cinco últimas linhas
praias_df.tail()

,0,1,2,3,4,5
28,,PRAIA DO PRESÍDIO - ILHA ANCHIETA,MEIO DA PRAIA,\r,Própria,
29,,PRAINHA DO ENGENHO - ILHA ANCHIETA,MEIO DA PRAIA,\r,Própria,
30,,PRAIA DE FORA - ILHA ANCHIETA,MEIO DA PRAIA,\r,Própria,
31,,PRAIA DO SUL - ILHA ANCHIETA,MEIO DA PRAIA,\r,Própria,
32,,PRAINHA DO LESTE - ILHA ANCHIETA,MEIO DA PRAIA,\r,Própria,

In [22]:
# E se quisermos extrair todas as tabelas

In [23]:
praias_linhas = [] # lista vazia para armazenar os resultados 

# Faz um loop nas 14 tabelas
# O range faz sempre um a menos
for n in range(0, 15):
    print(n)
    praias_trs = praias_tabelas[n].find_all('tr')
    
    # Faz um loop por todas as linhas da tabela sem cabeçalho (primeira linha)
    for linha in praias_trs[1:]:
    
        # Obter o texto da linha e dividir nas novas linhas (como acima)
        praias_linhas_vez = linha.text.split('\n')
    
        # Adicione esta linha limpa de volta à lista externa de dados de linha
        praias_linhas.append(praias_linhas_vez)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [24]:
praias_df = pd.DataFrame(praias_linhas)
praias_df.head()

  0                   1                    2    3               4 5
0            PICINGUABA        MEIO DA PRAIA   \r        Própria
1     PRAIA DO PRUMIRIM        MEIO DA PRAIA   \r        Própria
2                 FÉLIX        MEIO DA PRAIA   \r        Própria
3            ITAMAMBUCA   EM FRENTE À R.TRÊS   \r        Própria
4        RIO ITAMAMBUCA           FOZ DO RIO   \r        Própria

In [25]:
praias_df.tail()

,0,1,2,3,4,5
169,,JURÉIA,EM FRENTE À AV. PAPA JOÃO XXIII,\r,Própria,
170,,BALNEÁRIO ADRIANA,EM FRENTE À AV. STA CATARINA,\r,Própria,
171,,CENTRO,EM FRENTE À AV. COPACABANA,\r,Própria,
172,,PONTAL,EM FRENTE À ENTRADA DA PRAIA,\r,Própria,
173,,PRAINHA,NA SAíDA DA BALSA,\r,Própria,

Precisamos fazer um pouco de limpeza nesses dados:

As colunas 0, 3  e 5 estão todas vazias

Adicionar nomes de coluna

In [26]:
# Apaga as colunas 0, 3 e 5 e sobrescreva a variável praias_df
praias_df = praias_df.drop(columns=[0,3,5])

# Renomeia colunas
praias_df.columns = ['nome_praia','localizacao','qualidade']

In [33]:
praias_df.tail()

             nome_praia                       localizacao       qualidade
169              JURÉIA   EM FRENTE À AV. PAPA JOÃO XXIII        Própria
170   BALNEÁRIO ADRIANA      EM FRENTE À AV. STA CATARINA        Própria
171              CENTRO        EM FRENTE À AV. COPACABANA        Própria
172              PONTAL      EM FRENTE À ENTRADA DA PRAIA        Própria
173             PRAINHA                 NA SAíDA DA BALSA        Própria

In [27]:
# Limpeza final para retirar espaços em branco antes e depois das informações

In [28]:
def limpeza1(linha):
    documento = linha["nome_praia"]
    documento = documento.strip() # retira espaços em branco
    return str(documento)

def limpeza2(linha):
    documento = linha["localizacao"]
    documento = documento.strip()
    return str(documento)

def limpeza3(linha):
    documento = linha["qualidade"]
    documento = documento.strip()
    return str(documento)

praias_df["nome_praia"] = praias_df.apply(limpeza1, axis=1)
praias_df["localizacao"] = praias_df.apply(limpeza2, axis=1)
praias_df["qualidade"] = praias_df.apply(limpeza3, axis=1)

In [29]:
praias_df.reset_index().head(10)

,index,nome_praia,localizacao,qualidade
0,0,PICINGUABA,MEIO DA PRAIA,Própria
1,1,PRAIA DO PRUMIRIM,MEIO DA PRAIA,Própria
2,2,FÉLIX,MEIO DA PRAIA,Própria
3,3,ITAMAMBUCA,EM FRENTE À R.TRÊS,Própria
4,4,RIO ITAMAMBUCA,FOZ DO RIO,Própria
5,5,VERMELHA DO NORTE,200M AO SUL DA PRAIA,Própria
6,6,PEREQUÊ-AÇU,EM FRENTE À R. PEDRA NEGRA,Imprópria
7,7,IPEROIG,EM FRENTE AO CRUZEIRO,Própria
8,8,"ITAGUÁ-AV. LEOVEGILDO, 240",EM FRENTE AO Nº 240 DA AV. LEOVEGILDO D. VIEIRA,Própria
9,9,"ITAGUA-AV. LEOVEGILDO, 1724",EM FRENTE AO Nº 1724 DA AV. LEOVEGILDO D. VIEIRA,Imprópria

In [32]:
# Salva um arquivo - neste exemplo o encoding não funcionou adequadamente no Mac, então salvei como XLSX também abaixo
praias_df.to_csv('resultado/qualidade_praias_19mai_16_jun.csv', index=False, encoding='latin_1')

In [33]:
praias_df.to_excel('resultado/qualidade_praias_19mar_16_jun.xlsx',sheet_name='Sheet1')